{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "python",
        "VISITOR_COUNTER_STORAGE": "azurite",
        "AZURE_TABLES_CONNECTION_STRING": "UseDevelopmentStorage=true",
        "VISITOR_TABLE_NAME": "visitorcounter"
    }
}
